    page-feedback {
        .button-block {
            display: block;
            clear: both;
            width: 28%;
        }
        ion-card.card {
            width: 269px;
            height: 256px;
            margin: 30px;
        }
        .button-block {
            margin-left: 115px;
            margin-right: 0;
        }
    }