    page-feedback {
        .button-block {
            display: block;
            clear: both;
            width: 28%;
            margin-left: 115px;
            margin-right: 0;
        }
        ion-card.card {
            width: 269px;
            height: 256px;
            margin: 30px;
        }
        textarea {
            overflow: auto;
            width: 250px;
            height: 230px;
            font: inherit;
            color: inherit;
        }
    }