page-list {
    ion-list.icon {
        margin: 2px 15.2rem;
    }
    .segment {
        background-color: #17A32A;
        color: white;
        font-size: xx-large;
    }
    ion-item {
        color: whitesmoke;
    }
    .segment-md .segment-button {
        color: white;
        font-size: 15px;
    }
    .segment-md .segment-button.segment-activated {
        border-color: greenyellow;
        border-radius: 10px;
    }
    .swiper-pagination-bullet-active {
        background: #65ab34;
    }
}