page-list {
    ion-list.icon {
        margin: 2px 15.2rem;
    }
    .segment {
        background-color: #17A32A;
        color: white;
        font-size: xx-large;
    }
    ion-item {
        color: whitesmoke;
    }
    .segment-md .segment-button {
        color: white;
        font-size: 15px;
    }
}