page-home {
    .annonce {
        width: 100px;
        top: 50px;
        border: 25px;
    }
    ion-avatar {
        display: block;
        line-height: 1;
        color: white;
    }
    .padding {
        border-radius: 60%;
        background-color: brown;
        color: white;
        font-size: x-large;
        top: 50px;
        padding: 14%;
    }
    .card-md p {
        color: #f9f1f1;
        font-size: large;
    }
    ion-slides {
        width: 290px;
        height: 406px;
    }
    .slide-zoom {
        padding-inline-start: 32px;
        padding-inline-end: 30px;
    }
}