    page-marchfv {
        ion-buttons {
            margin: 2px 15.2rem;
            display: block;
            top: -23px;
        }
        ion-col {
            font-size: 2.4rem;
            line-height: 1.5;
        }
        ion-avatar {
            display: block;
            line-height: 1;
            background-color: #efeffa;
        }
    }