    page-marchfv {
        ion-buttons {
            margin: 2px 15.2rem;
            display: block;
            top: -23px;
        }
        ion-col {
            font-size: 2.4rem;
            line-height: 1.5;
        }
        ion-avatar {
            display: block;
            line-height: 1;
            color: white;
        }
        .padding {
            border-radius: 80px;
            background-color: orangered;
            color: white;
            font-size: x-large;
        }
        .card-md p {
            color: #f9f1f1;
            font-size: large;
        }
    }